@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

:root {
  background-color: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #171717;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #171717;
  }
}

body {
  color: #f4f4f4;
  background-color: #171717;
}
